html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
section,
menu,
span,
a,
nav {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
p {
  margin: 1em 0 1em;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: bold;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
  color: #999;
  outline: 0;
}
a {
  color: #999;
}

body {
  background: #2b2b2b url('img/bg.png') 0 0 / 432px 162px;
}
.wrap {
  position: relative;
  width: 950px;
  margin: 0 auto;
  padding-top: 1px;
}
.wrap:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
}

.nav-list {
  margin: 40px 0;
  font-size: 14px;
}
.nav-list,
.nav-list li {
  height: 50px;
}
.nav-list li {
  position: relative;
  display: inline-block;
  text-align: center;
  line-height: 50px;
}
.nav-list li.has-child em:after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 23px;
  width: 3px;
  height: 3px;
  border: 1px solid #999;
  border-width: 0 0 1px 1px;
  transform: rotate(-45deg);
}
.nav-list a {
  position: relative;
  display: block;
  overflow: hidden;
  width: 80px;
  height: 50px;
  z-index: 2;
}
.nav-list a em,
.nav-list a span {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.2s 0.1s, opacity 0.2s;
}
.nav-list a span {
  top: -50px;
  opacity: 0;
}
.nav-list li:hover span,
.nav-list a:hover span {
  top: 0;
  opacity: 1;
  transition: top 0.2s 0.1s, opacity 0.2s 0.2s;
}
.nav-list li:hover em,
.nav-list a:hover em {
  top: 50px;
  opacity: 0;
}
.nav-list li:hover ul {
  top: 50px;
  opacity: 1;
  transition: opacity 0.2s 0.1s, transform 0.2s 0.1s;
  transform: scale(1);
}

.nav-list ul {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  max-width: 280px;
  background: none;
  padding: 13px 0;
  background: rgba(20, 20, 20, 0.9);
  opacity: 0;
  transform: scale(1, 0);
}
.nav-list ul:before {
  content: '';
  display: block;
  position: absolute;
  top: -12px;
  left: 34px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: rgba(20, 20, 20, 0.9);
}
.nav-list ul li {
  display: block;
  padding: 0;
  white-space: nowrap;
  line-height: 20px;
  text-align: left;
}
.nav-list ul a {
  display: block;
  width: auto;
  padding: 12px 30px;
  transition: background 0.5s;
}
.nav-list ul a:hover {
  background: #050505;
}

.nav-list .logo-box {
  margin-right: 25px;
  background: #1e1e1e;
  border-radius: 25px 21px 18px 19px;
}
.nav-list .logo-box:before,
.nav-list .logo-box:after {
  content: '';
  opacity: 0;
  transition: opacity 2s;
  position: absolute;
  border: 2px solid #fff;
  z-index: 0;
}
.nav-list .logo-box:before {
  left: 18px;
  top: 18px;
  width: 12px;
  height: 12px;
  border-width: 2px 2px 0 0;
  border-radius: 3px;
  transform: rotate(-45deg);
}
.nav-list .logo-box:after {
  left: 18px;
  top: 22px;
  width: 10px;
  height: 9px;
  border-width: 0 2px;
  border-radius: 2px;
}
.nav-list .logo-box:hover:before,
.nav-list .logo-box:hover:after {
  opacity: 1;
  transition: opacity 2s;
}
.nav-list .logo {
  display: inline-block;
  padding: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #4de5ff;
  text-align: center;
  transition: opacity 2s;
}
.nav-list .logo:hover {
  opacity: 0;
  animation: flash 0.2s linear infinite;
}
@keyframes flash {
  0 {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.start-box {
  position: absolute;
  z-index: 5;
  right: 130px;
  top: 50px;
  width: 94px;
  height: 34px;
  text-align: center;
  font-size: 13px;
  border: 1px solid #333;
  padding: 1px;
  background: #fff;
}
.start-btn {
  display: block;
  line-height: 30px;
  background: #2b2b2b;
  transition: background 0.2s, color 0.3s;
}
.start-btn:hover {
  background: #fff;
  color: #333;
}

.container {
  position: relative;
}

.hm-item {
  position: absolute;
  overflow: hidden;
  background: #000;
  transition: box-shadow 0.3s, transform 0.3s, z-index 0.3s 0.11s;
}
.hm-item:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.hm-item img {
  width: 100%;
  opacity: 0.9;
  transition: 0.5s;
}
.hm-item img:hover {
  opacity: 1;
}
.hm-item-web {
  top: 0;
  left: 0;
  width: 63%;
  height: 370px;
  z-index: 2;
  transform: perspective(1600px) rotateY(5deg);
}
.hm-item-app {
  position: relative;
  top: -65px;
  z-index: 1;
  float: right;
  width: 46%;
  height: 800px;
  background: #1e1e1e;
  overflow: visible;
  padding: 50px 30px 30px 110px;
}
.hm-item-app:hover {
  box-shadow: none;
}
.hm-item-re {
  top: 270px;
  left: 8%;
  width: 51%;
  height: 280px;
  z-index: 3;
  transform: perspective(1000px) rotateY(-15deg);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.hm-item-pc {
  top: 458px;
  left: 0;
  width: 46%;
  height: 260px;
  z-index: 2;
  transform: perspective(1600px) rotateY(15deg);
}
.hm-item-web:hover,
.hm-item-re:hover,
.hm-item-pc:hover {
  z-index: 5;
  animation: temp 0.6s linear;
  transform: rotateY(0deg);
}
@keyframes temp {
  50% {
  }
  51% {
  }
  100% {
  }
}

.lb {
  position: absolute;
  right: 20px;
  top: -20px;
  width: 40px;
  height: 58px;
  box-shadow: 0 0 5px #1e1e1e;
  color: #333;
  perspective: 1200px;
}
.lb > div {
  float: left;
  width: 40px;
  transition: transform 0.3s;
}
.lb > .lb-gray {
  transition: transform 0.3s 0.05s;
}
.lb:hover > div {
  transform: rotateY(180deg);
}
.lb-orange {
  height: 40px;
  background: #ea7152;
}
.lb-gray {
  padding-right: 3px;
  height: 18px;
  line-height: 18px;
  background: #d8d8d8;
  text-align: right;
  font-size: 8px;
}

.foot {
  clear: both;
  padding: 10px 0 30px;
}
.copyright {
  font-size: 11px;
  text-align: center;
  color: #666;
}
.copyright span {
  margin-right: 1px;
  color: #f36;
}
